/* ———————————————————— 기본 ———————————————————— */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
img {
  display: block;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Do Hyeon", sans-serif;
  word-break: keep-all;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p {
  font-family: "Noto Sans KR", sans-serif;
}

/* ————————————————————  공통 
———————————————————— */
button {
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover {
  background-color: #fff;
}

/* HEADER */
header {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
header nav {
  width: 60%;
  margin: 0px auto;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  padding: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}
header nav ul li:hover {
  color: #fff;
}
header nav ul li:nth-child(1):active {
  color: #f67b2e;
}
header nav ul li:nth-child(2):active {
  color: #ff6969;
}
header nav ul li:nth-child(3):active {
  color: #69ffad;
}
header nav ul li:nth-child(4):active {
  color: #be69ff;
}

/* CONTAINER */
#container {
  width: 100%;
  height: 100%;
}
section {
  width: 100vw;
  height: calc(100vh - 60px);
  margin-top: 60px;
  box-sizing: border-box;
}

/* ————— VISUAL */
#visual {
  position: relative;
  padding-top: 60px;
}
/* —————————— VISUAL TOP */
.visualTop {
  position: absolute;
  left: 50%;
  top: 0%;
  padding: 50px;
  transform: translate(-50%);
  /* text-align: center; */
}
.visualTop h2 {
  font-size: 5rem;
  word-break: keep-all;
}
.visualTop h3 {
  color: #f67b2e;
  font-size: 4rem;
  letter-spacing: 2rem;
  font-weight: 200;
}

/* —————————— VISUAL CENTER */
.visualCenter {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.visualCenter ul {
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.visualCenter ul li {
  width: calc(100% / 5);
}
.visualCenter ul li img {
  width: 100%;
  filter: invert(100);
}
/* —————————— VISUAL BOTTOM */
.visualBottom {
  position: absolute;
  right: 0%;
  bottom: 0%;
  text-align: right;
  padding: 50px;
}
.visualBottom p {
  font-size: 1.5rem;
  color: #be69ff;
}
/* ————— ABOUT */
#aboutPage {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
/* —————————— PROFILE */
.profile {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileBg {
  background-color: #f67b2e;
  border-radius: 0% 10% 0% 10%;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.profile h2 {
  text-align: center;
}
.profileBg img {
  width: 50%;
  filter: invert(100);
  display: block;
  margin: 0px auto;
}
.profile ul {
  text-align: center;
}
/* —————————— TIMELINE */
.timeline {
  height: 100%;
  width: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ———————————————————— TIMELINE UL */
.timeline ul {
  width: 100%;
  height: 80%;
  margin: 0px auto;
}

.timeline ul li {
  height: calc(100% / 4);
  width: 100%;
}

.timeline ul li .timelineSection {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
/* —————————————————————————————— TIMELINE LINE */
.timeline ul li .line {
  width: 20px;
  margin: 0px auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.timeline ul li:nth-child(1) .line {
  background-color: #f67b2e;
  opacity: 80%;
  border-radius: 20px 20px 0px 0px;
}
.timeline ul li:nth-child(2) .line {
  background-color: #ff6969;
  opacity: 80%;
}
.timeline ul li:nth-child(3) .line {
  background-color: #69ffad;
  opacity: 80%;
}
.timeline ul li:nth-child(4) .line {
  background-color: #be69ff;
  opacity: 80%;
  border-radius: 0px 0px 20px 20px;
}
/* —————————————————————————————— TIMELINE CIRCLE */
.timeline ul li .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.timeline ul li:nth-child(1) .circle {
  outline: 10px solid #f67b2e;
}
.timeline ul li:nth-child(2) .circle {
  outline: 10px solid #ff6969;
}
.timeline ul li:nth-child(3) .circle {
  outline: 10px solid #69ffad;
}
.timeline ul li:nth-child(4) .circle {
  outline: 10px solid #be69ff;
}
/* —————————————————————————————— TIMELINE DATE */
.timeline ul li .timelineDate {
  position: absolute;
  width: 200px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-align: right;
}
/* —————————————————————————————— TIMELINE CONTENT */
.timeline ul li .timelineContent {
  position: absolute;
  width: 200px;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* ————— SKILLS */
#skillsPage {
  position: relative;
}
/* —————————— WHEEL */
/* —————————— SKILLS SLIDE */
.skillsSlide {
  width: 40%;
  height: 50%;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px 0px 0px 20px;
}
.skillsSlide .skills {
  width: 100%;
  height: 100%;
  background-color: #f67b2e;
  position: absolute;
}
.skillsSlide .skills .skillsContent {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 20px;
}
.skillsSlide .skills .logos {
  background-color: #fff;
  width: 90%;
  gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  right: 0%;
  bottom: 10%;
  overflow: hidden;
}
.skillsSlide .skills .logos li {
  height: 60px;
  width: 60px;
  padding: 5px;
  text-align: center;
}
.skillsSlide .skills .logos li img {
  height: 100%;
  object-fit: cover;
}
/* ——————————————— SKILLS SLIDE LI */
.skillsSlide #front {
  display: block;
}
.skillsSlide #tools {
  display: none;
}
.skillsSlide #design {
  display: none;
}
.skillsSlide #video {
  display: none;
}
/* ————— PROJECTS */
#projectsPage {
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  font-size: 2.5vw;
}
/* —————————— PROJECTS LIST */
.projectList {
  width: 35%;
  box-sizing: border-box;
}
.projectList h2 {
  padding: 10px 50px;
  box-sizing: border-box;
  width: 100%;
  animation: title 1s ease-in-out 1s infinite alternate forwards;
}
@keyframes title {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
.projectList > ul {
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.5);
}
.projectList > li {
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.projectList > li.nonActive i {
  display: none;
}
.projectList > li i {
  color: #fff;
  font-size: 2.5vw;
}
.projectList > li.nonActive:hover {
  color: #fff;
}
.projectList > li:nth-child(1).active {
  color: #f67b2e;
}
.projectList > li:nth-child(2).active {
  color: #ff6969;
}
.projectList > li:nth-child(3).active {
  color: #69ffad;
}
.projectList > li:nth-child(4).active {
  color: #be69ff;
}

/* —————————— PROJECT OVERVIEW */
#projectsPage .projectOverview {
  width: 65%;
  height: 90%;
  padding: 50px;
  /* border-radius: 5rem 0px 0px 5rem; */
  position: absolute;
  right: 0%;
  top: 0%;
  /* transform: translateY(-50%); */
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
}
#projectsPage .projectOverview > li {
  width: 100%;
  height: 100%;
  padding: 50px;
  margin: 0px auto;
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 15px;
}
#projectsPage .projectOverview > li:nth-child(1) {
  background-color: #f67b2e;
}
#projectsPage .projectOverview > li:nth-child(2) {
  background-color: #ff6969;
}
#projectsPage .projectOverview > li:nth-child(3) {
  background-color: #69ffad;
  color: #000;
}
#projectsPage .projectOverview > li:nth-child(4) {
  background-color: #be69ff;
}
#projectsPage .projectOverview > li:first-child {
  right: 0%;
}
#projectsPage .projectOverview li h5 {
  font-size: 16px;
  font-weight: bold;
}

#projectsPage .projectOverview li .preview {
  width: 80%;
  /* height: 100%; */
  margin: 0px auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  /* display: flex;
  justify-content: space-between; */
  /* max-height: 50%; */
}
/* #projectsPage .projectOverview li .preview > video:first-child {
  width: 66%;
  height: 100%;
}
#projectsPage .projectOverview li .preview > video :last-child {
  width: 33%;
  height: 100%;
} */

#projectsPage .projectOverview li .preview video {
  display: block;
  /* height: 100%; */
  height: 100%;
  width: 100%;
  margin: 0px auto;
  /* border: 2px solid #fff; */
  box-sizing: border-box;
  aspect-ratio: 16 / 8.65;
}

/* #projectsPage .projectOverview li .preview > .movieVid2 {
  display: none;
} */

#projectsPage .projectOverview li .description {
  width: 80%;
  margin: 0px auto;
  box-sizing: border-box;
}
#projectsPage .projectOverview li .description p {
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0px;
}
/* ————— PROJECTS 2 */

#projectsPage2 {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 2.5vw;
}
#projectsPage2 h2 {
  padding: 10px 0px;
  text-align: center;
  padding: 10px 50px;
  box-sizing: border-box;
  width: 100%;
  animation: title 1s ease-in-out 1s infinite alternate forwards;
}

.projectList2 {
  display: flex;
  gap: 50px;
  margin-left: 50px;
}
.projectList2 li {
  padding: 10px 0px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 75vw;

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.projectList2 li:nth-child(1) {
  background-color: #ff6969;
}
.projectList2 li:nth-child(2) {
  background-color: #69ffad;
}
.projectList2 li:nth-child(3) {
  background-color: #be69ff;
}
.projectList2 li > div {
  width: calc(50%);
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectList2 li > div:nth-child(1) {
  align-items: center;
}
.projectList2 li > div > video {
  width: 100%;
}
.projectList2 h5 {
  font-size: 16px;
  font-weight: bold;
}
.projectList2 p {
  font-size: 14px;
}
/* ————— CONTACT */
#contactPage {
  position: relative;
}
/* —————————— CONTACT INFO */
.contactInfo h2 {
  font-size: 5rem;
  color: #f67b2e;
  position: absolute;
  left: 10%;
  top: 10%;
}
#contactPage .contactSlide {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 300px;
  background-color: #fff;
  color: #000;
}

.contactSlide .links {
  background-color: #f67b2e;
  display: flex;
  justify-content: space-between;
}
.contactSlide .links li {
  width: 50%;
  text-align: center;
}

/* —————————— CLOSING */
/* .closing {
  font-size: 4rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: 50px;
  width: 50%;
} */
/* ————— FOOTER */
/* footer {
  background-color: #fff;
  color: #000;
  text-align: center;
} */

/* ————————————————————  반응형 ———————————————————— */

/* @media (max-width: 600px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
} */

/* @media (min-width: 1600px) {
  #projectsPage .projectOverview li .preview > .movieVid2 {
    display: block;
    width: 207px;
  }
} */
